<script defer src='/js/chat.js'></script>

<div name='chatForm'>

      <div class=''>
        <form name='chatForm'  id="formtask" class="row justify-content-end">
          <input name='text' type='text' id="task"  class='form-control' />
          <button type="submit" class="btnAddtask">OK</button>
        </form>
      </div>
      <div id="chat" class='card-body'>

      </div>
   
</div>
