<script defer src='/js/chat.js'></script>


<div class="row py-5">
  <div class="col-4">
    <div class='card'>
      <div class='card-header'>
        Type something
      </div>
      <div class='card-body'>
        <form name='chatForm' class="row justify-content-end">
          <input name='text' type='text' id='inputMessage' class='form-control' />
          <button type="submit" class="my-1 btn btn-outline-success">OK</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-8">
    <div class='card'>
      <div class='card-header'>
        Chat
      </div>
      <div id="chat" class='card-body'>

      </div>
    </div>
  </div>
</div>
</div>
