  <script defer src="/js/post.js"> </script>
  <form name="addpost" class="md-6" method="post" action="/post">
    <div class="mb-3" >
      <input autocomplete="off" name="image" type="text"  placeholder="URL" class="form-control" id="image" aria-describedby="image">
    </div>
    <div class="mb-3">
      <input autocomplete="off" name="title" type="text" placeholder="Название" class="form-control" id="title" aria-describedby="title">
    </div>
    <div class="mb-3">
      <input autocomplete="off" name="description" type="text" placeholder="Описание" class="form-control" id="description" aria-describedby="description">
    </div>
    <button type="submit" class="btn btn-primary ">Submit</button>
  </form>

