 <div class="item" data-idTask="{{this.id}}" data-status="{{this.statusdId}}" draggable="true"><div>{{this.title}}</div><button  class="btn-delete" type="button" data-iddelete="{{this.id}}">❌</button></div>
