<script defer src='/js/boardOne.js'></script>
<script defer src='/js/chat.js'></script>
 <link rel="stylesheet" href="/css/styles.css" />

    <div>
      <div class="row">
          <div class="col-header start">Начать</div>
          <div class="col-header progress">В процессе</div>
          <div class="col-header done">Готовы</div>
      </div>

      <div class="row">
        <div class="placeholder">
        {{>statusTask}}
        </div>

        <div class="placeholder">

        </div>

        <div class="placeholder">
          
        </div>
      </div>
      
    </div>
    
