@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

/* body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
} */

.row {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.row1 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  margin-bottom: 1rem;
}


.col-header {
  width: 350px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 5px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  display: flex;
  align-items: center;
  width: 350px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 5px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  display:flex;
  flex-direction: column;
  width: 350px;
  height: 80vh;
}

.start {
  background: linear-gradient(90deg, #c1910b 0%, #d14933 100%);
}

.progress {
  /* background: linear-gradient(0deg, #c1910b 0%, #d14933 100%); */
  background:#e26027;
}

.done {
  background: linear-gradient(270deg, #c1910b 0%, #d14933 100%);
}
.hold{
    border: 1px solid rgb(185, 82, 13);;
  border-radius: 3px;
}
.hide{
  display: none;
}

.hovered{
  border-top: 5px dashed #c1910b; 
  
}
